body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient( 135deg, #ffd6e7, #fff0f5);

    font-family: Arial, sans-serif;
}

.contenedor {
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 32px;
    color: #d6336c;
    max-width: 600px;
}

button {
    padding: 15px 30px;
    margin: 10px;

    border: none;
    border-radius: 12px;

    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

#si {
    background-color: #ff4d88;
    color: white;
}

#no {
    background-color: #777;
    color: white;
}

button:hover {
    transform: scale(1.08);
}

@media (max-width: 600px) {
    h1 {
        font-size: 26px;
    }

    button {
        font-size: 18px;
        padding: 12px 24px;
    }
}

.corazon {
    position: fixed;
    bottom: -30px;

    font-size: 30px;

    animation: subir 4s linear forwards;

    pointer-events: none;
}

@keyframes subir {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100vh);
        opacity: 0;
    }
}